@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #161032;
}

.body {
    margin: auto;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    height: 100vh;
    width: 5%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.navbar ul {
    padding-top: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar li {
    position: relative;
    display: grid;
    grid-template: column;
    justify-self: center;
    align-items: center;
    margin-top: 1rem;
}

li a {
    display: grid;
    justify-self: center;
}

li a i {
    height: 35px;
    width: 35px;
    color: #6c757d;
    font-weight: 400;
}

.log {
    margin-top: 180px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* main Page and profile */

.mainPage {
    height: 100vh;
    width: 95%;
    /* background-color: aqua; */
    margin: 0 80px;
}

.subSection {
    position: absolute;
    width: 93%;
    height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
}

.input-section {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form {
    margin-bottom: 10px;
}

.form .icon {
    position: relative;
    left: 12%;
    top: 50%x;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #6c757d;
}

.input-field {
    width: 350px;
    padding: 10px;
    margin: 4px;
    box-sizing: border-box;
    padding-left: 60px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #6c757d;
}

input::placeholder {
    color: #6c757d;
}

.input-section .ethereum {
    position: relative;
    padding: 10px;
}

.ethereum a {
    border-radius: 10px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    color: #e8eddf;
}

.ethereum a i {
    padding-right: 10px;
    color: blue;
}

.alert-message {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    align-items: center;
    text-align: center;
}

.alert-message .bell,
.message,
.profile {
    justify-content: space-evenly;
    display: flex;
    margin-left: 15px;
    position: relative;
    align-items: center;
    text-align: center;
}

.alert-message .bell {
    padding: 5px 10px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
}

.message {
    padding: 5px 10px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
}

.profile {
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
    outline: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
}

.profile img {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profile span a {
    color: #e8eddf;
    font-size: 15px;
    letter-spacing: 1px;
}

.profile span i {
    margin-right: 5px;
    color: #e8eddf;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
}


/* end of Input section */


/* Beginning of the main header */

.Sub-main {
    position: relative;
    top: 10%;
    left: 10%;
    width: 93%;
    display: flex;
}

.left {
    width: 70%;
    position: absolute;
    background: crimson;
    margin-top: -550px;
    /* padding-left: 100px; */
}

.left .header {
    width: 76%;
    height: 30vh;
    display: flex;
    background: linear-gradient(140deg, #0496ff, #ff5c8a);
    border-radius: 15px;
}

.header .intro {
    font-size: 25px;
    word-wrap: ;
}

.header .img-wrapper {
    height: 30%;
}

.img-wrapper img {
    height: 237px;
    position: relative;
    align-items: center;
    top: 7%;
    right: 20%;
    transform: translate(-7%, -20%);
    justify-content: center;
}

.right {
    width: 25%;
}